<main class="main home">
    <div class="container mb-2">
        <div class="row row-joined mb-2 font2" style="width: 100%;margin: auto;"><!--class="info-boxes-container"-->
            <div class="info-box info-box-icon-left col-4 col-lg-4">

                <i><img src="assets/images/avatar/delivery.png" alt="" ngClass="image"></i>

                <div class="info-box-content">
                    <h4>LIVRAISON &amp; RETOUR GRATUIT</h4>
                    <p class="text-body">Livraison gratuite pour toutes les commandes <br> de plus de 99 TND </p>
                </div>
                <!-- End .info-box-content -->
            </div>
            <!-- End .info-box -->

            <div class="info-box info-box-icon-left col-lg-4">
                <i><img src="assets/images/avatar/money.png" alt="" ngClass="image"></i>

                <div class="info-box-content">
                    <h4>GARANTIE DE REMBOURSEMENT</h4>
                    <p class="text-body">Satisfait ou remboursé à 100%</p>
                </div>
                <!-- End .info-box-content -->
            </div>
            <!-- End .info-box -->

            <div class="info-box info-box-icon-left col-lg-4">
                <i><img src="assets/images/avatar/customer.png" alt="" ngClass="image"></i>

                <div class="info-box-content">
                    <h4>ASSISTANCE EN LIGNE 24/7</h4>
                    <p class="text-body">contacter nous a tout moment</p>
                </div>
                <!-- End .info-box-content -->
            </div>
            <!-- End .info-box -->
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="owl-carousel owl-theme mb-2" data-owl-options="{
                    'loop': false,
                    'dots': true,
                    'nav': false
                }" *ngIf="displayBanner">
                    <div class="home-slide home-slide1 banner banner-md-vw banner-sm-vw d-flex align-items-center">
                        <img class="slide-bg" style="background-color: #2699D0;"
                            src="assets/images/demoes/demo1/slider/slide-1.png" width="880" height="428"
                            alt="home-slider">
                        <div class="banner-layer">
                            <h4 class="text-white mb-0">Find the Boundaries. Push Through!</h4>
                            <h2 class="text-white mb-0">Summer Sale</h2>
                            <h3 class="text-white text-uppercase m-b-3">70% Off</h3>
                            <h5 class="text-white text-uppercase d-inline-block mb-0 ls-n-20 align-text-bottom">
                                Starting At <b class="coupon-sale-text bg-secondary text-white d-inline-block">$<em
                                        class="align-text-top">199</em>99</b></h5>
                            <a href="demo1-shop.html" class="btn btn-dark btn-md ls-10">Shop Now!</a>
                        </div>
                        <!-- End .banner-layer -->
                    </div>
                    <!-- End .home-slide -->

                    <!--<div class="home-slide home-slide2 banner banner-md-vw banner-sm-vw d-flex align-items-center">
                        <img class="slide-bg" style="background-color: #dadada;" src="assets/images/demoes/demo1/slider/slide-2.jpg" width="880" height="428" alt="home-slider">
                        <div class="banner-layer text-uppercase appear-animate" data-animation-name="fadeInUpShorter">
                            <h4 class="m-b-2">Over 200 products with discounts</h4>
                            <h2 class="m-b-3">Great Deals</h2>
                            <h5 class="d-inline-block mb-0 align-top mr-5 mb-2">Starting At
                                <b>$<em>299</em>99</b>
                            </h5>
                            <a href="demo1-shop.html" class="btn btn-dark btn-md ls-10">Get Yours!</a>
                        </div>
                        **** End .banner-layer ***
                    </div>
                    **** End .home-slide ***

                    <div class="home-slide home-slide3 banner banner-md-vw banner-sm-vw  d-flex align-items-center">
                        <img class="slide-bg" style="background-color: #e5e4e2;" src="assets/images/demoes/demo1/slider/slide-3.jpg" width="880" height="428" alt="home-slider" />
                        <div class="banner-layer text-uppercase appear-animate" data-animation-name="fadeInUpShorter">
                            <h4 class="m-b-2">Up to 70% off</h4>
                            <h2 class="m-b-3">New Arrivals</h2>
                            <h5 class="d-inline-block mb-0 align-top mr-5 mb-2">Starting At
                                <b>$<em>299</em>99</b>
                            </h5>
                            <a href="demo1-shop.html" class="btn btn-dark btn-md ls-10">Get Yours!</a>
                        </div>
                        **** End .banner-layer ***
                    </div>
                    **** End .home-slide ***
                    -->
                </div>
                <!-- End .home-slider -->

                <div class="m-b-2 owl-theme" data-owl-options="{
                    'dots': false,
                    'margin': 20,
                    'loop': false,
                    'responsive': {
                        '480': {
                            'items': 2
                        },
                        '768': {
                            'items': 3
                        }
                    }
                }" *ngIf="displayBanner">
                    <div class="banner banner1 banner-hover-shadow d-flex align-items-center mb-2"
                        style="width:30%;float: left;padding-inline:2%;">
                        <figure>
                            <img src="assets/images/demoes/demo1/banners/banner-1.jpg"
                                style="background-color: #dadada;" alt="banner">
                        </figure>
                        <div class="banner-layer">
                            <h3 class="m-b-2">Porto Watches</h3>
                            <h4 class="m-b-4 text-primary"><sup class="text-dark"><del>20%</del></sup>30%<sup>OFF</sup>
                            </h4>
                            <a href="demo1-shop.html" class="text-dark text-uppercase ls-10">Shop Now</a>
                        </div>
                    </div>
                    <!-- End .banner -->
                    <div class="banner banner2 banner-hover-shadow d-flex align-items-center mb-2"
                        style="width:30%;float: left;padding-inline:2% ;">
                        <figure>
                            <img src="assets/images/demoes/demo1/banners/banner-2.jpg"
                                style="background-color: #dadada;" alt="banner">
                        </figure>
                        <div class="banner-layer">
                            <br>
                            <br>
                            <h3 class="m-b-1 ls-n-20">Deal Promos</h3>
                            <h4 class="text-body">Starting at $99</h4>
                            <a href="demo1-shop.html" class="text-dark text-uppercase ls-10">Shop Now</a>
                        </div>
                    </div>
                    <!-- End .banner -->

                    <div class="banner banner3 banner-hover-shadow d-flex align-items-center mb-2"
                        style="width:30%;padding-inline:2%;position: relative;">
                        <figure>
                            <img src="assets/images/demoes/demo1/banners/banner-3.jpg"
                                style="background-color: #dadada;" alt="banner">
                        </figure>
                        <div c style="position: absolute;left: 6%;right: 6%;top:0px">
                            <h3 style="margin-bottom: 40px;">Handbags</h3>
                            <h4 class="text-secondary text-uppercase" style="margin-top: 10px;">Starting at $99</h4>
                            <a href="demo1-shop.html" class="text-dark text-uppercase ls-10">Shop Now</a>
                        </div>
                    </div>
                    <!-- End .banner -->
                </div>

            <!--<h2 class="section-title ls-n-10 m-b-4">
                    Produits En Promotion</h2>
                <div class="gallery-wrap">
                    <img class="arrow" src="assets/images/avatar/previous.png" alt="" (click)="navigateBackward()">
                    <div class="products-slider m-b-1 pb-1" id="gallery" ngClass="gallery">
                        <ng-container *ngFor="let art of featuredArticles">

                            <div class="product-default inner-quickview inner-icon">
                                <figure>
                                    <a [routerLink]="'/store/article/'+art.articleID+'/detail'">
                                        <img [src]="art.imagePath" width="205" height="205" alt="product">

                                    </a>
                                    <div class="label-group">
                                        <div class="product-label label-hot">HOT</div>
                                        <div class="product-label label-sale">-20%</div>
                                    </div>
                                    <div class="btn-icon-group">
                                        <a [routerLink]="'/store/article/'+art.articleID+'/detail'" class="btn-icon btn-add-cart"><i
                                                class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                    <a [routerLink]="'/store/article/'+art.articleID+'/detail'" class="btn-quickview"
                                        title="Quick View">Voir plus</a>

                                    **** End .product-countdown-container ***
                                </figure>
                                <div class="product-details" style="padding: 5px;">
                                    <div class="category-wrap">
                                        <div class="category-list">
                                            <a (click)="navigateUsingCategory(art)"
                                                class="product-category">{{art.catalogueIntitule}}</a>
                                        </div>
                                        <a (click)="addToWishlist(art)" title="Add to Wishlist"
                                            class="btn-icon-wish"><i><mat-icon>favorite</mat-icon></i></a>
                                    </div>
                                    <h3 class="product-title"> <a [routerLink]="'/store/article/'+art.articleID+'/detail'">{{art.articleIntitule}}</a>
                                    </h3>

                                    **** End .product-container ***
                                    <div class="price-box">
                                        <span class="product-price">{{art.tarifPrix}} TND</span>
                                    </div>
                                    **** End .price-box ***
                                </div>
                                **** End .product-details ***
                            </div>


                        </ng-container>

                    </div>
                    <img src="assets/images/avatar/next.png" alt="" class="arrow" (click)="navigateForward()">
                </div>-->
                <!-- End .featured-proucts -->
                <h2 class="section-title ls-n-10 m-b-4">
                    Produits les plus vendus</h2>
                <div class="gallery-wrap">
                    <img class="arrow" src="assets/images/avatar/previous.png" alt="" (click)="navigateBackward()">
                    <div class="products-slider m-b-1 pb-1" id="gallery" ngClass="gallery">
                        <ng-container *ngFor="let art of bestSellingArticles">

                            <div class="product-default inner-quickview inner-icon">
                                <figure>
                                    <a [routerLink]="'/store/article/'+art.articleID+'/detail'">
                                        <!-- <img [src]="art.imagePath" width="205" height="205" alt="product"> -->
                                        <img [src]="art.imageContent" width="205" height="205" alt="product">

                                    </a>
                                    <div class="label-group">
                                        <div class="product-label label-hot">HOT</div>
                                        <div class="product-label label-sale">-20%</div>
                                    </div>
                                    <div class="btn-icon-group">
                                        <a [routerLink]="'/store/article/'+art.articleID+'/detail'" class="btn-icon btn-add-cart"><i
                                                class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                    <a [routerLink]="'/store/article/'+art.articleID+'/detail'" class="btn-quickview"
                                        title="Quick View">Voir plus</a>

                                    <!-- End .product-countdown-container -->
                                </figure>
                                <div class="product-details" style="padding: 5px;">
                                    <div class="category-wrap">
                                        <div class="category-list">
                                            <a (click)="navigateUsingCategory(art)"
                                                class="product-category">{{art.catalogueIntitule}}</a>
                                        </div>
                                        <a (click)="addToWishlist(art)" title="Add to Wishlist"
                                            class="btn-icon-wish"><i><mat-icon>favorite</mat-icon></i></a>
                                    </div>
                                    <h3 class="product-title"> <a [routerLink]="'/store/article/'+art.articleID+'/detail'">{{art.articleIntitule}}</a>
                                    </h3>

                                    <!-- End .product-container -->
                                    <div class="price-box">
                                        <span class="product-price">{{art.tarifPrix}} TND</span>
                                    </div>
                                    <!-- End .price-box -->
                                </div>
                                <!-- End .product-details -->
                            </div>


                        </ng-container>

                    </div>
                    <img src="assets/images/avatar/next.png" alt="" class="arrow" (click)="navigateForward()">
                </div>
                <!-- End .best-proucts -->
                <div class="row products-widgets">
                    <div class="col-sm-6 col-md-4 pb-4 pb-md-0">
                        <div class="product-column">
                            <h3 class="section-sub-title ls-n-20">Produits les plus consultés</h3>
                            <div ngClass="gallery2">
                                <ng-container *ngFor="let art of bestConsultedArticles">
                                    <div class="" style="display: flex;justify-content: flex;">
                                        <figure>
                                            <a [routerLink]="'/store/article/'+art.articleID+'/detail'">
                                                <!-- <img [src]="art.imagePath" width="84" height="84" alt="product"> -->
                                                <img [src]="art.imageContent" width="84" height="84" alt="product">
                                            </a>
                                        </figure>
                                        <div class="product-details"
                                            style="display: flex;justify-content: space-evenly;flex-direction: column;">
                                            <div>
                                                <a ngClass="customCategory" (click)="navigateUsingCategory(art)"
                                                    class="product-category">{{art.catalogueIntitule.toUpperCase()}}</a>
                                            </div>

                                            <span style="margin: 0px;padding: 0px;"> <a
                                                    [routerLink]="'/store/article/'+art.articleID+'/detail'"
                                                    style="font-size: 14px;color: black">{{art.articleIntitule}}</a>
                                            </span>

                                            <div class="price-box">
                                                <span class="product-price">{{art.tarifPrix}} TND</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <!-- End .product-column -->
                    </div>
                    <!-- End .col-md-4 -->

                <!--<div class="col-sm-6 col-md-4 pb-4 pb-md-0">
                    <div class="product-column">
                            <h3 class="section-sub-title ls-n-20">Produits les plus vendus</h3>
                            <div ngClass="gallery2">
                                <ng-container *ngFor="let art of bestSellingArticles">
                                    <div class="" style="display: flex;justify-content: flex;">
                                        <figure>
                                            <a [routerLink]="'/store/article/'+art.articleID+'/detail'">
                                                <img [src]="art.imagePath" width="84" height="84" alt="product">
                                            </a>
                                        </figure>
                                        <div class="product-details"
                                            style="display: flex;justify-content: space-evenly;flex-direction: column;">
                                            <div>
                                                <a ngClass="customCategory" (click)="navigateUsingCategory(art)"
                                                    class="product-category">{{art.catalogueIntitule.toUpperCase()}}</a>
                                            </div>

                                            <span style="margin: 0px;padding: 0px;"> <a
                                                    [routerLink]="'/store/article/'+art.articleID+'/detail'"
                                                    style="font-size: 14px;color: black">{{art.articleIntitule}}</a>
                                            </span>

                                            <div class="price-box">
                                                <span class="product-price">{{art.tarifPrix}} TND</span>
                                            </div>
                                            **** End .price-box ***
                                        </div>
                                        **** End .product-details ***
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        **** End .product-column ***
                    </div>-->
                    <!-- End .col-md-4 -->

                    <div class="col-sm-6 col-md-4 pb-4 pb-md-0">
                        <div class="product-column">
                            <h3 class="section-sub-title ls-n-20">Produits récents</h3>
                            <div ngClass="gallery2">
                                <ng-container *ngFor="let art of recentArticles">
                                    <div class="" style="display: flex;justify-content: flex;">
                                        <figure>
                                            <a [routerLink]="'/store/article/'+art.articleID+'/detail'">
                                                <!-- <img [src]="art.imagePath" width="84" height="84" alt="product"> -->
                                                <img [src]="art.imageContent" width="84" height="84" alt="product">
                                            </a>
                                        </figure>
                                        <div class="product-details"
                                            style="display: flex;justify-content: space-evenly;flex-direction: column;">
                                            <div>
                                                <a ngClass="customCategory" (click)="navigateUsingCategory(art)"
                                                    class="product-category">{{art.catalogueIntitule.toUpperCase()}}</a>
                                            </div>

                                            <span style="margin: 0px;padding: 0px;"> <a
                                                    [routerLink]="'/store/article/'+art.articleID+'/detail'"
                                                    style="font-size: 14px;color: black">{{art.articleIntitule}}</a>
                                            </span>

                                            <div class="price-box">
                                                <span class="product-price">{{art.tarifPrix}} TND</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <!-- End .product-column -->
                    </div>
                    <!-- End .col-md-4 -->
                </div>
                <!-- End .row -->

                <hr class="mt-1 mb-3 pb-2">

                <div class="feature-boxes-container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-box  feature-box-simple text-center">
                                <i> <mat-icon>headset</mat-icon></i>

                                <div class="feature-box-content p-0">
                                    <h3 class="mb-0 pb-1">Service client</h3>
                                    <h5 class="mb-1 pb-1">Besoin d'aide?</h5>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum
                                        magna, et dapib.</p>
                                </div>
                                <!-- End .feature-box-content -->
                            </div>
                            <!-- End .feature-box -->
                        </div>
                        <!-- End .col-md-4 -->

                        <div class="col-md-4">
                            <div class="feature-box feature-box-simple text-center">
                                <i><mat-icon>lock</mat-icon></i>

                                <div class="feature-box-content p-0">
                                    <h3 class="mb-0 pb-1">PAIEMENT SECURISE</h3>
                                    <h5 class="mb-1 pb-1">Sécurisé &amp; Rapide</h5>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum
                                        magna, et dapib.</p>
                                </div>
                                <!-- End .feature-box-content -->
                            </div>
                            <!-- End .feature-box -->
                        </div>
                        <!-- End .col-md-4 -->

                        <div class="col-md-4">
                            <div class="feature-box feature-box-simple text-center">
                                <i><mat-icon>undo</mat-icon></i>

                                <div class="feature-box-content p-0">
                                    <h3 class="mb-0 pb-1">Retour</h3>
                                    <h5 class="mb-1 pb-1">Facile & Gratuit</h5>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum
                                        magna, et dapib.</p>
                                </div>
                                <!-- End .feature-box-content -->
                            </div>
                            <!-- End .feature-box -->
                        </div>
                        <!-- End .col-md-4 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .feature-boxes-container -->
            </div>
            <!-- End .col-lg-9 -->


            <div class="sidebar-overlay"></div>
            <div class="sidebar-toggle custom-sidebar-toggle"><i class="fas fa-sliders-h"></i></div>
            <aside class="sidebar-home col-lg-3 order-lg-first mobile-sidebar">
                <div class="side-menu-wrapper text-uppercase mb-2 d-none d-lg-block">
                    <h2 class="bg-gray ls-n-25" style="font-size: 18px;background-color: grey;
                            margin-bottom: -4px;padding: 5px;">Menu Principale</h2>

                    <nav class="nav">
                        <ul class="menu menu-vertical sf-arrows" style="display: flex;flex-direction: column;">
                            <li class="active"><a
                                    style="display: flex;align-items: center;"><mat-icon>home</mat-icon>Acceuil</a></li>
                            <li *ngIf="ready">
                                <a style="display: flex;align-items: center;"><mat-icon>layers</mat-icon>Catalogues
                                    <mat-icon mat-trigger
                                        [mat-menu-trigger-for]="categories">keyboard_arrow_down</mat-icon></a>

                                <mat-menu #categories="matMenu">
                                    <ng-container *ngFor="let cat of categoriesDivided">
                                        <button (mouseenter)="openModel(cat)" class="white" mat-menu-item
                                            [mat-menu-trigger-for]="menu" mat><span>{{cat.name}}</span></button>
                                    </ng-container>
                                </mat-menu>

                                <mat-menu #menu="matMenu">

                                    <div style="width: 280px;">
                                        <div class="row">
                                            <ng-container *ngFor="let subCat of catChosen.value">
                                                <div class="col-6">
                                                    <b class="nolink pl-0"
                                                        style="padding: 5px;">{{subCat.name.toUpperCase()}}</b>
                                                    <ul class="submenu" style="padding: 0px 10px;">
                                                        <ng-container *ngFor="let cat3 of subCat.value">
                                                            <!--<li><a [routerLink]="['/store/article/category/'+subCat.id+'/'+cat3.name]" 
                                                        [queryParams]="{group:1,show:4}"
                                                        style="color: black;">{{cat3.name}}</a></li>-->
                                                            <li><a [routerLink]="['/store/article/category/'+catChosen.name+'/'+subCat.name+'/'+cat3.name]"
                                                                    [queryParams]="{group:1,show:4}"
                                                                    style="color: black;">{{cat3.name}}</a></li>
                                                        </ng-container>

                                                    </ul>
                                                </div>
                                            </ng-container>


                                        </div>
                                    </div>

                                </mat-menu>
                                <!-- End .megamenu -->
                            </li>

                            <li>
                                <a style="display: flex;align-items: center;">
                                    <mat-icon>description</mat-icon>Pages <mat-icon mat-trigger
                                        [mat-menu-trigger-for]="pagesMenu">keyboard_arrow_down</mat-icon></a>
                                <mat-menu #pagesMenu="matMenu">
                                    <ul [ngClass]="['submenu2']" style="padding: 0px 10px;">
                                        <li><a routerLink="/store/wishlist"
                                                style="color: black;"><mat-icon>favorite</mat-icon>Liste des souhaits</a></li>
                                        <li><a routerLink="/store/panier"
                                                style="color: black;"><mat-icon>shopping_basket</mat-icon>Panier</a></li>
                                        <li><a routerLink="/client/dashboard"
                                                style="color: black;"><mat-icon>pie_chart</mat-icon>Dashboard</a></li>
                                        <li><a routerLink="/store/aboutUs"
                                                style="color: black;"><mat-icon>help</mat-icon>A Propos de nous</a></li>
                                    </ul>
                                </mat-menu>
                            </li>
                            <!--<li><a href="blog.html"><i class="sicon-book-open"></i>Blog</a></li>-->
                            <li><a routerLink="/store/aboutUs"
                                    style="display: flex;align-items: center;"><mat-icon>info</mat-icon>A propos de
                                    nous</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <!-- End .side-menu-container -->



                <div class="widget widget-testimonials" *ngIf="displayComments">
                    <div class="owl-carousel owl-theme dots-left dots-small">
                        <div class="testimonial">
                            <div class="testimonial-owner">
                                <figure>
                                    <img src="assets/images/clients/client-1.jpg" alt="client">
                                </figure>

                                <div>
                                    <h4 class="testimonial-title">john Smith</h4>
                                    <span>CEO &amp; Founder</span>
                                </div>
                            </div>
                            <!-- End .testimonial-owner -->

                            <blockquote class="ml-4 pr-0">
                                <p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mi.
                                </p>
                            </blockquote>
                        </div>
                        <!-- End .testimonial -->

                        <div class="testimonial">
                            <div class="testimonial-owner">
                                <figure>
                                    <img src="assets/images/clients/client-2.jpg" alt="client">
                                </figure>

                                <div>
                                    <h4 class="testimonial-title">Dae Smith</h4>
                                    <span>CEO &amp; Founder</span>
                                </div>
                            </div>
                            <!-- End .testimonial-owner -->

                            <blockquote class="ml-4 pr-0">
                                <p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mi.
                                </p>
                            </blockquote>
                        </div>
                        <!-- End .testimonial -->

                        <div class="testimonial">
                            <div class="testimonial-owner">
                                <figure>
                                    <img src="assets/images/clients/client-3.jpg" alt="client">
                                </figure>

                                <div>
                                    <h4 class="testimonial-title">John Doe</h4>
                                    <span>CEO &amp; Founder</span>
                                </div>
                            </div>
                            <!-- End .testimonial-owner -->

                            <blockquote class="ml-4 pr-0">
                                <p>work hard and play hard
                                </p>
                            </blockquote>
                        </div>
                        <!-- End .testimonial -->
                    </div>
                    <!-- End .testimonials-slider -->
                </div>
                <!-- End .widget -->

                <!--<div class="widget widget-posts post-date-in-media media-with-zoom mb-0 mb-lg-2 pb-lg-2">
                            <div class="owl-carousel owl-theme dots-left dots-m-0 dots-small" data-owl-options="
                                { 'margin' : 20,
                                  'loop': false }">
                                <article class="post">
                                    <div class="post-media">
                                        <a href="single.html">
                                            <img src="assets/images/blog/home/post-1.jpg" data-zoom-image="assets/images/blog/home/post-1.jpg" width="280" height="209" alt="Post">
                                        </a>
                                        <div class="post-date">
                                            <span class="day">29</span>
                                            <span class="month">Jun</span>
                                        </div>
                                         ****End .post-date****

                                        <span class="prod-full-screen">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                    ****End .post-media ****

                                    <div class="post-body">
                                        <h2 class="post-title">
                                            <a href="single.html">Post Format Standard</a>
                                        </h2>

                                        <div class="post-content">
                                            <p>Leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with... </p>

                                            <a href="single.html" class="read-more">read more <i
                                                    class="icon-right-open"></i></a>
                                        </div>
                                        **** End .post-content ****
                                    </div>
                                    **** End .post-body ****
                                </article>

                                <article class="post">
                                    <div class="post-media">
                                        <a href="single.html">
                                            <img src="assets/images/blog/home/post-2.jpg" data-zoom-image="assets/images/blog/home/post-2.jpg" width="280" height="209" alt="Post">
                                        </a>
                                        <div class="post-date">
                                            <span class="day">29</span>
                                            <span class="month">Jun</span>
                                        </div>
                                        **** End .post-date ****
                                        <span class="prod-full-screen">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                    **** End .post-media ****

                                    <div class="post-body">
                                        <h2 class="post-title">
                                            <a href="single.html">Fashion Trends</a>
                                        </h2>

                                        <div class="post-content">
                                            <p>Leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with... </p>

                                            <a href="single.html" class="read-more">read more <i
                                                    class="icon-right-open"></i></a>
                                        </div>
                                        **** End .post-content ****
                                    </div>
                                    **** End .post-body ****
                                </article>

                                <article class="post">
                                    <div class="post-media">
                                        <a href="single.html">
                                            <img src="assets/images/blog/home/post-3.jpg" data-zoom-image="assets/images/blog/home/post-3.jpg" width="280" height="209" alt="Post">
                                        </a>
                                        <div class="post-date">
                                            <span class="day">29</span>
                                            <span class="month">Jun</span>
                                        </div>
                                        **** End .post-date ****
                                        <span class="prod-full-screen">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                    **** End .post-media ****

                                    <div class="post-body">
                                        <h2 class="post-title">
                                            <a href="single.html">
                                                Post Format Video</a>
                                        </h2>

                                        <div class="post-content">
                                            <p>Leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with... </p>

                                            <a href="single.html" class="read-more">read more <i
                                                    class="icon-right-open"></i></a>
                                        </div>
                                        **** End .post-content ****
                                    </div>
                                    **** End .post-body ****
                                </article>
                            </div>
                            **** End .posts-slider ****
                        </div>
                        **** End .widget ****
                     -->
            </aside>
            <!-- End .col-lg-3 -->
        </div>
        <!-- End .row -->
    </div>
    <!-- End .container -->
</main>
<!-- End .main -->
<app-store-footer></app-store-footer>