td:has( label) 
{
text-align: left;
}
td:has( span) 
{
text-align: left;
}
.box{
  position: relative;
}
.close{
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: transparent;
  border: none !important;
  outline: none;
  color: white;
}
.close2{
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: transparent;
  font-size: 20px;
  border: none !important;
}
.close2:hover{
  color: white;
}
.title{
  /*text-align: center;*/
  background-color: white;
  color: black;
  padding: 10px 25px;
  margin-bottom:  15px;
  border-bottom: 1px solid black;
 /* border: 2px solid black;*/
  background-color: #2377FC;
}
.title h3{
color: white;
}
button{
  margin-bottom: 2px;
  width: fit-content;
  overflow-x: visible;
  overflow-y: unset;
  line-height: normal;
  font-size: 16px;
  margin: 0;
  
  display: inline;
  align-items: unset;
  justify-content: unset;
  padding: 0;
  border: none;  
  overflow: visible;   
}
.bold{
  font-weight: 800;
}

.empty{
  width: 100px; 
}

.table tr td.error span{
  font-size: 14px;
  color: red;
}
.table tr input.inputError{
  border: 1px solid red;
}
.table tr input{
  border: 1px solid black;
}
.table tr select.inputError{
  border: 1px solid red;
}
.table tr select{
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}
th{
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  border: none;
}
td {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  margin: 0px;
  padding: 0px 5px;
  border: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin:0px;
  padding: 0px;
  table-layout: fixed;
  width: 100%;
  border: none;
}
.error{
  color: red;
  font-size: 14px;
}


/*.box{
  position: relative;
}
.close{
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #2377FC;
  border: none;
}
.title{
  x text-align: center;
  background-color: white;
  color: black;
  padding: 10px 25px;
  margin-bottom:  15px;
  border-bottom: 1px solid black;
  x border: 2px solid black;
  background-color: #2377FC;
}
.title h3{
color: white;
}
button{
  margin-bottom: 2px;
  width: fit-content;
  overflow-x: visible;
  overflow-y: unset;
  line-height: normal;
  font-size: 16px;
  margin: 0;
  
  display: inline;
  align-items: unset;
  justify-content: unset;
  padding: 0;
  border: none;  
  overflow: visible;   
}
.bold{
  font-weight: 800;
}

.empty{
  width: 100px; 
}

.table tr td.error span{
  font-size: 14px;
  color: red;
}
.table tr input.inputError{
  border: 2px solid red;
}
.table tr input{
  border: 2px solid black;
}
.table tr select.inputError{
  border: 2px solid red;
}
.table tr select{
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}
th{
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  border: none;
}
td {
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  border: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin:0px;
  padding: 0px;
  table-layout: fixed;
  width: 100%;
  border: none;
}
.error{
  color: red;
  font-size: 14px;
}*/




