
<router-outlet></router-outlet>
   


<!--
<div id="wrapper">
   
    <div id="page" class="">
        
       <div class="layout-wrap">
                <router-outlet></router-outlet>
        </div>
       
    </div>
    
</div>
-->
   
















<!--
 ****    #wrapper 
<div id="wrapper">
    **** #page ****
    <div id="page" class="">
        **** layout-wrap ***
       <div class="layout-wrap">
                <router-outlet></router-outlet>
        </div>
        **** /layout-wrap ***
    </div>
    **** /#page ***
</div>
**** /#wrapper ***
-->

