<div ngClass="center">
    <!-- <img  [src]="(user.imagePath==''||user.imagePath==null)?defaultImage:user.imagePath" alt=""> -->
    <img  [src]="(user.imageContent==''||user.imageContent==null)?defaultImage:user.imageContent" alt="">
</div>
<h3 class="account-sub-title d-none d-md-block mt-0 pt-1 ml-1">Détails du compte</h3>
    <!--

    -->
<div class="account-content">
<form [formGroup]="userUpdateForm" (ngSubmit)="openUpdateAccountConfirmation()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="acc-name">Nom public <span class="required">*</span></label>
                <input type="text" class="form-control" id="name"  formControlName="name" (blur)="nameValidator()" />
                <p *ngIf="displayNameRequired" style="color: red;">*nom public est obligatoire</p>
                <p *ngIf="displayNameFormat" style="color: red;">*nom public doit etre sous cette format nom prenom</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="acc-lastname">Telephone <span
                        class="required"></span></label>
                <input type="text" class="form-control" id="telephone"  formControlName="telephone" (blur)="telephoneValidator()" />
                <p *ngIf="displayTelephoneFormat" style="color: red;">*respecter format de telephone</p>
            </div>
        </div>
    </div>
    

    <div class="form-group mb-4">
        <label for="acc-email">Email address <span class="required"></span></label>
        <input  class="form-control" id="email"  formControlName="email" (blur)="emailValidator()"/>
        <p *ngIf="displayEmailFormat" style="color: red;">*email doit etre sous format a@d.s</p>
    </div>

   
        
    <div class="form-group mb-4">
        <label >changer image: </label>
        <input class="form-control" id="f1" type="file" (change)="selectFile($event);">       
    </div>
    
    

    <div class="form-footer">
        <button type="submit" class="btn btn-dark mr-0">
            Confirmer modifications
        </button>
    </div>
</form>
<form [formGroup]="passwordUpdateForm" (ngSubmit)="updatePassword()">
    <div class="change-password">
        <h3 class="text-uppercase mb-2">Réinitialisez Votre Mot de Passe</h3>

        <div class="form-group">
            <label for="acc-password">Mot de Passe Actuelle</label>
            <input type="password" class="form-control" id="password"  formControlName="password" (blur)="passwordValidator()" />
            <p *ngIf="displayPasswordRequired" style="color: red;">*ecrire mot de passe</p>
        </div>

        <div class="form-group">
            <label for="acc-password">Noveau Mot de Passe </label>
            <input type="password" class="form-control" id="newPassword"  formControlName="newPassword" (blur)="newPasswordValidator()"/>
            <p *ngIf="displayNewPasswordRequired" style="color: red;">*ecrire noveau mot de passe</p>
        </div>

        <div class="form-group">
            <label for="acc-password">Confirmer Noveau Mot de Passe</label>
            <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm" (blur)="passwordConfirmValidator()"/>
            <p *ngIf="displayPasswordConfirmRequired" style="color: red;">*confirmer noveau mot de passe</p>
        </div>
    </div>

    <div class="form-footer mt-3 mb-0">
        <button type="submit" class="btn btn-dark mr-0">
            Changer Mot de Passe
        </button>
    </div>
</form>
</div>
