<div class="main-content">

    <div class="main-content-inner">

        <div class="main-content-wrap">
            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                <h3>ajouter demande retour</h3>
                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                    <li>
                        <a href="index-2.html">
                            <div class="text-tiny">Dashboard</div>
                        </a>
                    </li>
                    <li>
                        <i class="icon-chevron-right"></i>
                    </li>
                    <li>
                        <a routerLink="/dashboard/demandeRetour">
                            <div class="text-tiny">demande retour</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="wg-box">

            
                <mat-card>
                    <mat-card-header></mat-card-header>
                    
                    <mat-card-content>
                        <div ngClass="tableContainer">
                        <table mat-table [dataSource]="dataSource" class="table" >
                            <ng-container matColumnDef="ligne num">
                                <th mat-header-cell *matHeaderCellDef>ligne num</th>
                                <td mat-cell *matCellDef="let element;let index = index">{{index+1}}</td>
                            </ng-container>
                            <ng-container matColumnDef="code">
                                <th mat-header-cell *matHeaderCellDef>code</th>
                                <td mat-cell *matCellDef="let element">{{element.articleCode}}</td>
                            </ng-container>
                            <ng-container matColumnDef="Intitule">
                                <th mat-header-cell *matHeaderCellDef>Intitule</th>
                                <td mat-cell *matCellDef="let element">{{element.articleIntitule}}</td>
                            </ng-container>
                            <ng-container matColumnDef="quantite">
                                <th mat-header-cell *matHeaderCellDef>quantite</th>
                                <td mat-cell *matCellDef="let element">{{element.ligneQuantite}}</td>
                            </ng-container>
                            <ng-container matColumnDef="ARetourner">
                                <th mat-header-cell *matHeaderCellDef>A Retourner</th>
                                <td mat-cell *matCellDef="let element"><input type="checkbox" [(ngModel)]="element.checked"
                                    (ngModelChange)="updateDemandeRetour(element)" #input></td>
                            </ng-container>
                            <ng-container matColumnDef="motif">
                                <th mat-header-cell *matHeaderCellDef>A Retourner</th>
                                <td  mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.checked">
                                        <select [(ngModel)]="element.motidId">
                                            <option value="0">indefined</option>
                                            <ng-container *ngFor="let motif of motifs">
                                                <option [value]="motif.id">{{motif.intitule}}</option>
                                            </ng-container>
                                        </select>
                                    </ng-container>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="nbrArtcileAretoutner">
                                <th mat-header-cell *matHeaderCellDef>nbr Artcile A retoutner</th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngIf="element.checked">
                                        <input type="number" [(ngModel)]="element.nbArticleRetenue">
                                    </ng-container>
                                </td>
                            </ng-container>
                            
                            

                            <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row;columns: displayedColumns"></tr>
                            
                        </table>
                    </div>
                    </mat-card-content>
               
                    <mat-card-footer>
                        <div style="padding: 5px;margin: 5px;">
                        <button class="btn btn-primary" style="margin-right: 5px;" (click)="addDemandeRetour()">Confirmer</button>
                        <button class="btn btn-danger" (click)="annuler()">Annuler</button>
                    </div>
                    </mat-card-footer>
                </mat-card>
            

        <!--<table class="table table-striped">
                <tr>
                    <th scope="col">ligne num</th>
                    <th scope="col">code</th>
                    <th scope="col">intitule</th>
                    <th scope="col">quantite</th>
                    <th scope="col">A Retourner</th>
                    <th scope="col">motif</th>
                    <th scope="col">nbr Artcile A retoutner</th>
                </tr>


                <ng-container *ngFor="let ligne of demandeRetour.lignes;index as i">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{ligne.articleCode}}</td>
                        <td>{{ligne.articleIntitule}}</td>
                        <td>{{ligne.ligneQuantite}}</td>
                        <td><input type="checkbox" [(ngModel)]="ligne.checked"
                                (ngModelChange)="updateDemandeRetour(ligne)" #input></td>
                        <td *ngIf="ligne.checked">
                            <select [(ngModel)]="ligne.motidId">
                                <option value="0">indefined</option>
                                <ng-container *ngFor="let motif of motifs">
                                    <option [value]="motif.id">{{motif.intitule}}</option>
                                </ng-container>
                            </select>
                        </td>
                        <td *ngIf="ligne.checked"><input type="number" [(ngModel)]="ligne.nbArticleRetenue"></td>
                    </tr>
                    
                   
                </ng-container>
                <button class="btn btn-primary" (click)="addDemandeRetour()">Confirmer</button>
                    <button class="btn btn-danger" (click)="annuler()">Annuler</button>
            </table>-->
           
            </div>
        </div>

        <!--<div class="container">
    <h2>info Commande</h2>
    <table class="table">
        <tr>
            <td colspan="2"><input type="text" class="col-6 m-2 p-2 search" placeholder="chercher vos commande"></td>
        </tr>
    </table>
    
        <table class="table">
            <tr>
                
                <th scope="col">ligne num</th>
                <th scope="col">code</th>
                <th scope="col">intitule</th>
                <th scope="col">quantite</th>
                <th scope="col">A Retourner</th>
                <th scope="col">motif</th>
                <th scope="col">nbr Artcile A retoutner</th>
                

            </tr>

            <tr *ngFor="let ligne of demandeRetour.lignes;index as i">
                <td>{{i+1}}</td>
                <td>{{ligne.articleCode}}</td>
                <td>{{ligne.articleIntitule}}</td>
                <td>{{ligne.ligneQuantite}}</td>
                <td><input type="checkbox" [(ngModel)]="ligne.checked" (ngModelChange)="updateDemandeRetour(ligne)" #input></td>
                <td *ngIf="ligne.checked">
                    <select [(ngModel)]="ligne.motidId">
                    <option value="0">indefined</option>
                    <ng-container *ngFor="let motif of motifs" >
                        <option [value]="motif.id">{{motif.intitule}}</option>
                    </ng-container>
                </select></td>
                <td *ngIf="ligne.checked"><input type="number" [(ngModel)]="ligne.nbArticleRetenue"></td>
            </tr>
            <button class="btn btn-primary" (click)="addDemandeRetour()">Confirmer</button>
            <button class="btn btn-danger" (click)="annuler()">Annuler</button>
            
        </table>

</div>-->