<main class="main" style="border: 1px solid transparent;">
    <button (click)="close()" style="position: absolute;top: 0px;right: 0px;background-color: transparent;border: none;">x</button>
    <div class="container" >
    <!--<ul class="checkout-progress-bar d-flex justify-content-center flex-wrap" style="border: 2px solid black;">
            <li class="active">
                <a href="cart.html">Shopping Cart</a>
            </li>
            <li>
                <a href="checkout.html">Checkout</a>
            </li>
            <li class="disabled">
                <a href="cart.html">Order Complete</a>
            </li>
        </ul>-->
        <h2>Mon Panier</h2>
        <div>
            <div>
                <div class="cart-table-container">
                    <table class="table table-cart" style="width: 100%;">
                        <thead>
                            <tr >
                               
                                <th scope="col">Produit</th>
                                <th  scope="col">Intitule</th>
                                <th scope="col" >Prix_TTC</th>
                                <th scope="col" >Quantite</th>
                                <th scope="col">Sous-total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="product-row" *ngFor="let ligne of lignes">
                                <td style="text-align: center;"> 
                                    <figure class="product-image-container">
                                        <a [routerLink]="'/store/article/'+ligne.articleId+'/detail'" class="product-image">
                                            <img [src]="ligne.articleImage" alt="product">
                                        </a>

                                        <a  class="btn-remove icon-cancel" title="Remove Product" (click)="deleteLignePanier(ligne.id)"></a>
                                    </figure>
                                </td>
                                <td style="text-align: center;">
                                    <h5>
                                        <a href="product.html">{{ligne.articleIntitule}}</a>
                                    </h5>
                                </td>
                                <td style="text-align: center;">{{ligne.tarifttc}} TND</td>
                                <td style="text-align: center;">
                                    <div>
                                        
                                        <button *ngIf="ligne.ligneQuantite!=1" class="horizontal-quantity form-control" style="height: 50px" 
                                        (click)="updateLignePanier(ligne,ligne.ligneQuantite-1)" >-</button>
                                        <input  class="horizontal-quantity form-control" style="width: 32px;" type="text"
                                        [ngModel]="ligne.ligneQuantite"  #input (blur)="changeValue(ligne,input)">
                                        <button class="horizontal-quantity form-control" style="height: 50px;" 
                                        (click)="updateLignePanier(ligne,ligne.ligneQuantite+1)" >+</button>
                                    
                                    </div><!-- End .product-single-qty -->
                                </td>
                                <td style="text-align: center;" class="text-right"><span class="subtotal-price">{{ligne.ligneTotalTtc|number: '1.3-3'}} TND</span></td>
                            </tr>

                            
                        </tbody>


                        <tfoot>
                            <tr>
                                <td colspan="5" class="clearfix">
                                    <div style="margin-bottom: 10px;">
                                        <b style="font-size: 22px;">TOTAL: </b>
                                        <span  style="font-size: 20px;">{{subTotal|number: '1.3-3' }}</span>
                                    </div>
                                    
                                    <div>
                                <!--<button (click)="updatePanierLignes()" type="submit" class="btn btn-shop btn-update-cart">
                                            Mise a jour panier
                                        </button>-->
                                        <button type="submit" (click)="navigate()" class="btn btn-shop btn-update-cart">Vers Panier</button>
                                    </div>
                                <!--<button style="background-color: white;"><i class="material-icons"
                                        style="width: 10px;height: 10px;" (click)="deleteLignePanier(ligne.id)">delete</i></button>
                                    <button type="reset" class="btn btn-shop btn-delete">
                                        Reset Cart
                                    </button>
                                    <button type="submit" class="btn btn-shop btn-update-cart">
                                        Update Cart
                                    </button>
                                    <button type="submit" class="btn btn-shop btn-update-cart">
                                        Delete Cart
                                    </button>-->
                                        
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- End .cart-table-container -->
            </div><!-- End .col-lg-8 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

    <div class="mb-6"></div><!-- margin -->
</main><!-- End .main -->

<!--<div style="padding: 10px;">
    <h2>Mon Panier</h2>
    
        <table class="table">
            <ng-container *ngFor="let ligne of lignes">
    <tr style="border-bottom: 2px solid black;">
        <td class="col-4">
            <img src="assets/account.png" alt="" class="image">
        </td>
        <td>{{ligne.articleIntitule}}</td>
           <td>{{ligne.tarif+ligne.tva}}</td>
           <td>
            <button style="background-color: white;" (click)="updateLignePanier(ligne,ligne.ligneQuantite-1)">-</button>
            <input class="col-2" type="text" step="1" min="1" [ngModel]="ligne.ligneQuantite"  #input (blur)="changeValue(ligne,input)" width="50">
            <button style="background-color: white;" (click)="updateLignePanier(ligne,ligne.ligneQuantite+1)">+</button>
        </td>
        <td>{{ligne.ligneTotalTtc}}</td>
        <td>
            <button style="background-color: white;"><i class="material-icons"
                    style="width: 10px;height: 10px;" (click)="deleteLignePanier(ligne.id)">delete</i></button>
        </td>
    </tr>

    </ng-container>
</table>
</div>
<div style="background-color: lightgray;">
    <div style="padding:10px;" class="row">
        <span class="col-3">SUBTOTAL</span>
        <span class="col-6"></span>
        <span class="col-3">{{subTotal}}</span>
    </div>
    <div class="row" style="width:90%;margin:auto;">
        <button class="col-12 btn btn-warning" style="text-align: center;" (click)="navigate()">Vers Panier</button>
        <button class="col-12 btn btn-primary" style="text-align: center;">Vers Paiement</button>
    </div>
</div>-->