/*.Container{
    width: 100%;
    height: 92vh;
    display: flex;
    border: 2px solid black;
    background-color: lightgray;
}
.aside{
width: 20%;
height: 100%;
background-color: red;
border: 2px solid red;
background-color: white;
}
.outlet{
width: 95%;
height: 95%;
border: 2px solid purple;
background-color: white;
}
.outletContainer{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/