<div id="wrapper">

    <div id="page" class="">

        <div class="layout-wrap">
            <app-aside-dashboard></app-aside-dashboard>
            <div class="section-content-right">
                <app-dashboard-navbar></app-dashboard-navbar>
                <router-outlet style="border: 4px red;"></router-outlet>
            </div>
        </div>

    </div>

</div>

<!--
<app-aside-dashboard></app-aside-dashboard>
<div class="section-content-right">
<app-dashboard-navbar></app-dashboard-navbar>
<router-outlet style="border: 4px red;"></router-outlet>
</div>
-->










<!--
 **** #wrapper ***
<div id="wrapper">
    **** #page ***
    <div id="page" class="">
        **** layout-wrap ***
       <div class="layout-wrap">
<app-aside-dashboard></app-aside-dashboard>
<div class="section-content-right">
<app-dashboard-navbar></app-dashboard-navbar>
<router-outlet style="border: 4px red;"></router-outlet>
</div>
</div>
**** /layout-wrap ***
</div>
**** /#page ***
</div>-->